@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-background);
  color: var(--color-white);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  @media (hover: hover) {
    @nest &:hover {
      color: var(--color-accent);
    }
  }

}

.sectionHeader {
  width: 80vw;
  margin: auto auto 50px;
  @nest & * {
    margin: auto;
    width: fit-content;
  }
  @nest & p {
    text-align: center;
  }
  @nest & a {
    color: var(--color-accent);
    @nest &:hover {
      color: var(--color-very-light-gray);
    }
  }
}

section {
  margin-bottom: 50px;
}

p {
  max-width: 70ch;
}

::selection{
  background-color: var(--color-accent);
  color: var(--color-white);
}
