@import '../styles/custom-properties.css';

.skill {
  width: 80vw;
  display: flex;
  margin: auto auto 50px;
}

.verticalLine {
  border-left: 5px solid var(--color-accent);
}

.text {
  margin: 0 min(5vw, 50px) 0 min(5vw, 50px);
  width: 50vw;
  & a {
    color: var(--color-accent);
    &:hover {
      color: var(--color-very-light-gray);
    }
  }
}

.subSkills {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  & li {
    color: var(--color-light-gray);
    margin-right: 10px;
    list-style: none;
    &::before {
      content: '#';
    }
  }
}
