@import '../styles/custom-properties.css';

.socialLinks {
  display: flex;
  list-style: none;
  margin: 0 1em 0 1em;
  justify-content: center;
  padding: 0;

  & li {
    margin: 0.3em;
    transition: all .2s ease-in-out;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.5);
      }
      & a{
        transition: all .2s ease-in-out;
      }
    }
  }


}
