@import '../styles/custom-properties.css';

.work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.verticalLine {
  border-left: 5px solid var(--color-accent);
}

.text {
  width: max(50vw,400px);
  padding: min(5vw, 50px);
  @nest & a {
    color: var(--color-accent);
    @nest &:hover {
      color: var(--color-very-light-gray);
    }
  }
}

.image {
  margin: min(3vw, 50px);
  max-width: 60vw;
  max-height: 60vw;
}

.date {
  font-size: var(--font-small-size);
}

.tags {
  align-self: end;
  justify-self: end;
  @nest & span {
    color: var(--color-light-gray);
    font-size: var(--font-small-size);
    margin-right: 10px;
    @nest &::before {
      content: '#';
    }
  }
}
