@import '../styles/custom-properties.css';

.work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.verticalLine {
  border-left: 5px solid var(--color-accent);
}

.text{
  margin: 50px;
}

.image{
  margin: 50px;
  width: 400px;
  height: 400px;
  @nest & img {
    -webkit-filter: grayscale(100%);
  }
}
